<div class="specar"></div>
<mat-toolbar color="primary">
  <span>Employee form</span>
  <div class="specar"></div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="about">About</a>
  <a mat-button routerLink="contect">Contect</a>
  <a mat-button routerLink="details">Details</a>

</mat-toolbar>
<br>
<!-- <h2>Employee Details</h2>

<mat-form-field appearance="fill" color="primary">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">CSE</mat-option>
    <mat-option value="two">IT</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->
<router-outlet></router-outlet>