<p>details works!</p>
<table>
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Number</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Department</th>
        <th>pincode</th>
        <th>Address</th>
    </thead>
    <tbody>
        <tr>
            <td>{{productName}}</td>
            <td>{{userAge}}</td>
            <td>{{userNumber}}</td>
            <td>{{userEmail}}</td>
            <td>{{userGender}}</td>
            <td>{{userDepartment}}</td>
            <td>{{userPincode}}</td>
            <td>{{userAddress}}</td>
        </tr>
    </tbody>
</table>